.gradle
.idea/
src/main/resources/**
!src/main/resources/soundFiles
!src/main/resources/soundFiles/readme.txt
!src/main/resources/logback.xml
!src/main/resources/readme.txt
**/build/
!src/**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
